{% extends "layouts/base.html" %}
{% block title %}Facts{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 ">Facts</h1>
    <form action="{{ url_for('facts.index') }}" method="GET" class="d-flex ms-auto me-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search symptom..."
                value="{{ request.args.get('q', '') }}">
            {% if request.args.get('q') %}
            <a href="{{ url_for('facts.index') }}" class="btn btn-outline-danger">X</a>
            {% endif %}
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <a href="{{ url_for('facts.create') }}" class="btn btn-primary">New Facts</a>
</div>
{% if facts %}
<table class="table table-bordered table-striped align-middle">
    <thead>
        <tr>
            <th style="width: 50px;">Id</th>
            <th>Symptom</th>
            <th>Created At</th>
            <th>Managed By</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for fact in facts %}
        <tr>
            <td>{{ fact.id }}</td>
            <td>{{ fact.name }}</td>
            <td>{{ fact.created_at.strftime('%Y-%m-%d') }}</td>
            <td>{{ fact.user.username if fact.user else 'Unknown' }}</td>
            <td class="text-center">
                <!-- Edit -->
                <a href="{{ url_for('facts.edit', fact_id=fact.id) }}" class="btn btn-sm btn-outline-danger text-white"
                    title="Edit">
                    ✏️
                </a>
                <!-- Delete (go to custom delete confirmation page) -->
                <a href="{{ url_for('facts.delete_confirm', fact_id=fact.id) }}"
                    class="btn btn-sm btn-outline-danger text-white" title="Delete">
                    🗑️
                </a>
            </td>
        </tr>
        {%endfor%}
</table>
<nav>
    <ul class="pagination justify-content-center">
        {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
        <li class="page-item {{ 'active' if page_num == pagination.page }}">
            <a class="page-link" href="{{ url_for('facts.index', page=page_num, q=search_query) }}">
                {{ page_num }}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% else %}
<p class="text-muted">No facts defined or found.</p>
{% endif %}
{% endblock %}