{% extends "layouts/base.html" %}
{% block title %}Create Role{% endblock %}

{% block content %}
<div class="rows">
    <div class="col-lg-8 col-xl-7 mx-auto">
        <div class="d-flex justify-content-between align-center mb-3">
            <h1 class="h3 mb-0">Create Role</h1>
            <a href="{{ url_for('roles.index') }}" class="btn-outline-secondary btn-sm">
                ← Back to Roles
            </a>
        </div>
        
        <div class="card">
            <div class="card-body ">
                <form method="post">
                    {% include 'roles/_form.html' %}
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
